{% if site.most_recent_blog_post_pages.size > 0 %}

<style type="text/css">
  .latest-news-section {
    background: mintcream;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
  }
  .latest-news-section .headline {
    padding-bottom: 10px;
  }
  .post-thumbnail {
    width: 75%;
    text-align: center;
  }
  .post-excerpt {
    margin-bottom: 10px;
  }
  .small {
    font-size: 12px;
    margin-bottom: 0px;
  }
</style>

<section class="latest-news-section clearfix">
  <div class="container">

    <h1 class="text-center headline">Latest News</h1>

    <div class="row">
      {% for post in site.most_recent_blog_post_pages | limit:3 %}
        {% if forloop.first %}
          {% assign main_blog = post.parent %}
        {% endif %}
        <div class="col-sm-4 padtop padbottom">
          <div class="post-column">

            {% if post.has_meta_image? %}
            <a href="{{ post.url }}">
              <img src="{{ post.meta_image_url }}" title="{{ post.name }}" alt="{{ post.name }}" class="post-thumbnail" />
            </a>
            {% endif %}

            <div class="padtopless">
              {% if post.headline.size > 0 %}
              <a href="{{ post.url }}">
                <h4>
                  <strong>{{ post.headline }}</strong>
                </h4>
              </a>
              {% endif %}
              <p class="small">
                {{ post.published_at | date: '%B %d, %Y' }}
              </p>
            </div>

            {% if post.blog_post.content.size > 0 %}
            <p class="post-excerpt padtopless">
              {{ post.blog_post.content | strip_html | truncatewords:24 }}
            </p>
            {% endif %}

            <div class="padtopless">
              <a href="{{ post.url }}" class="btn btn-primary btn-xs">View More</a>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center padtop margintopless">
      <a href="{{ main_blog.url }}" class="btn-default btn-lg">Visit {{ main_blog.name }}</a>
    </div>
  </div>
</section>

{% endif %}
