<!-- NOTE: this will show the latest posts from the primary site in the nation -->

{% if settings.site.most_recent_blog_post_pages.size > 0 %}

<style type="text/css">
  .latest-news-section {
    background: mintcream;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
  }
  .latest-news-section .headline {
    padding-bottom: 10px;
  }
  .post-column {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .post-thumbnail {
    width: 75%;
    text-align: center;
  }
  .post-headline {
    margin-top: 15px;
  }
  .post-excerpt {
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .post-view-more {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .small {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .view-all-posts-link {
    margin-top: 30px;
  }
</style>

<section class="latest-news-section clearfix">
  <div class="container">

    <h1 class="text-center headline">Latest News</h1>

    <div class="row">
      {% for post in settings.site.most_recent_blog_post_pages | limit:3 %}
        {% if forloop.first %}
          {% assign main_blog = post.parent %}
        {% endif %}
        <div class="col-sm-4 padtop padbottom">
          <div class="post-column">

            {% if post.has_meta_image? %}
            <a href="{{ post.url }}">
              <img src="{{ post.meta_image_url }}" title="{{ post.name }}" alt="{{ post.name }}" class="post-thumbnail" />
            </a>
            {% endif %}

            <div class="post-content">
              {% if post.headline.size > 0 %}
              <h4 class="post-headline">
                <a href="{{ post.url }}">
                  <strong>{{ post.headline }}</strong>
                </a>
              </h4>
              {% endif %}
              <p class="small">
                {{ post.published_at | date: '%B %d, %Y' }}
              </p>
            </div>

            {% if post.blog_post.content.size > 0 %}
            <p class="post-excerpt">
              {{ post.blog_post.content | strip_html | truncatewords:24 }}
            </p>
            {% endif %}

            <div class="post-view-more">
              <a href="{{ post.url }}" class="btn btn-primary btn-xs">View More</a>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center view-all-posts-link">
      <a href="{{ main_blog.url }}" class="btn-secondary btn-lg">View all posts</a>
    </div>
  </div>
</section>

{% endif %}
